/* Move down content because we have a fixed navbar that is 3.5rem tall */
  body{
   padding-top:0px;
   margin-top: 0px;
   font-family: "Courier New";
   color: black;
}


/*.jumbotron {
 background-image: url(header.png);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}*/


